<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Book creation -->
<form id="create-form" th:action="@{${action}}" th:object="${bookDTO}" th:method="post" action="bookOperations.html">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:field="*{id}" value="1"/>
    </div>

    <div class="row">
        <label for="holder-input">Book name:</label>
        <input id="holder-input" name="name" type="text" th:field="*{name}" value="John Doe"/>
    </div>

    <div class="row">
        <label for="author-input">Author name:</label>
        <select id="author-input" name="Author name:" th:field="*{authorName}">
            <option th:each="author : ${authors}"
                    th:value="${author.name}" th:text="${author.name}"
                    th:selected="${author.equals(bookDTO.author)}"></option>
        </select>
    </div>

    <div class="row">
        <label for="genre-input">Genre name:</label>
        <select id="genre-input" name="Genre name:" th:field="*{genreName}">
            <option th:each="genre : ${genres}"
                    th:value="${genre.name}" th:text="${genre.name}"
                    th:selected="${genre.equals(bookDTO.genre)}"></option>
        </select>
    </div>

    <div class="row">
        <button type="submit" th:text="${submitOption}"></button>
    </div>
</form>

</body>
</html>
